.ginga-accordion {
  width: 100%;
}

.ginga-accordion-item {
  margin-bottom: 0.25rem;
  border: var(--width-border) solid var(--color-primary-9);
  border-radius: calc(var(--size-radius) * 0.5);
}

.ginga-accordion-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-family: var(--font-family);
  font-size: 1rem;
  font-weight: 800;
  color: var(--color-primary-9);
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
}

.ginga-accordion-icon {
  position: relative;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s ease;
}

.ginga-accordion-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-right: var(--width-border) solid currentcolor;
  border-bottom: var(--width-border) solid currentcolor;
  transition: transform 0.2s ease;
}

.ginga-accordion-content {
  height: 0;
  padding: 0 1rem;
  overflow: hidden;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-secondary-9);
  transition: all 0.2s ease;

  &[aria-hidden="false"] {
    height: auto;
    padding: 1rem;
  }
}
