.radio {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  color: var(--color-black);
  forced-color-adjust: none;

  &::before {
    box-sizing: border-box;
    display: block;
    width: 1.2rem;
    height: 1.2rem;
    content: "";
    background: var(--color-white);
    border: 0.143rem solid var(--color-primary-5);
    border-radius: 50%;
    transition: all 200ms;
  }

  &[data-pressed]::before {
    border-color: var(--color-primary-6);
  }

  &[data-selected] {
    &::before {
      border-color: var(--color-primary-5);
      border-width: 0.5rem;
    }

    &[data-pressed]::before {
      border-color: var(--color-primary-6);
    }
  }

  &[data-focus-visible]::before {
    outline: 2px solid var(--color-primary-5);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--color-gray-6);
    pointer-events: none;
    cursor: not-allowed;

    &::before {
      background: var(--color-gray-1);
      border-color: var(--color-gray-1);
    }
  }
}
