.ginga-anchor {
  position: relative;
  font-family: var(--font-family);
  color: var(--color-primary-9);
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &[data-hovered] {
    color: var(--color-primary-8);
  }

  &[data-pressed] {
    color: var(--color-primary-7);
  }

  &[data-disabled] {
    color: var(--color-secondary-5);
    cursor: not-allowed;
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: -0.3rem;
    content: "";
    border: var(--width-border) solid var(--color-primary-5);
    border-radius: calc(var(--size-radius) * 0.3);
  }

  &[data-variant="button"] {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: var(--color-background);
    text-decoration: none;
    background-color: var(--color-primary-9);
    border-radius: var(--size-radius);

    &[data-hovered] {
      background-color: var(--color-primary-8);
    }

    &[data-pressed] {
      background-color: var(--color-primary-7);
    }

    &[data-disabled] {
      background-color: var(--color-secondary-5);
    }

    &[data-focus-visible]::after {
      border-color: var(--color-background);
    }
  }
}
