.input {
  padding: 0.5rem;
  margin: 0;
  font-size: 1rem;
  color: var(--color-black);
  background: var(--color-white);
  border: 2px solid var(--color-gray-2);
  border-radius: calc(var(--radius-size) * 0.5);

  &[data-focused] {
    border-color: var(--color-primary-5);
    outline: 2px solid var(--color-primary-5);
    outline-offset: -1px;
  }
}
