.Input {
  padding: 0.286rem;
  margin: 0;
  font-size: 1.143rem;
  color: var(--color-text);
  background: var(--color-bg-container);
  border: 1px solid var(--color-primary-border);
  border-radius: 6px;

  &[data-focused] {
    outline: 2px solid var(--color-primary);
    outline-offset: -1px;
  }
}
