body {
  margin: 0;
  color: var(--color-secondary-9);
  background-color: var(--color-background);
}

main {
  margin: 1rem;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}