.list {
  padding-left: 1.5rem;
  font-family: var(--font-family);
  color: var(--color-secondary-9);
}

.orderedList {
  list-style-type: decimal;
}

.unorderedList {
  list-style-type: disc;
}

.listItem {
  line-height: 1.5;
}
