.tabs {
  display: flex;
  flex-direction: column;
  color: var(--color-black);

  &[data-orientation="vertical"] {
    flex-direction: row;

    .tab-list {
      flex-direction: column;
    }

    .tab {
      &[data-selected] {
        color: var(--color-primary-5);
        border: none;
        border-right: 2px solid var(--color-primary-5);
      }
    }
  }
}

.tab-list {
  display: flex;
  border: none;
  border-bottom: 2px solid var(--color-gray-2);
}

.tab {
  position: relative;
  padding: 0.5rem 1rem;
  color: var(--color-black);
  cursor: pointer;
  outline: none;
  transition: color 200ms;
  forced-color-adjust: none;

  &[data-hovered],
  &[data-focused] {
    color: var(--color-primary-5);
  }

  &[data-selected] {
    color: var(--color-primary-5);
    border: none;
    border-bottom: 2px solid var(--color-primary-5);
  }

  &[data-disabled] {
    color: var(--color-gray-5);
    pointer-events: none;
    cursor: not-allowed;
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: 4px;
    content: "";
    border: 2px solid var(--color-primary-5);
    border-radius: 4px;
  }
}

.tab-panel {
  padding: 10px;
  margin-top: 4px;
  border-radius: 4px;
  outline: none;

  &[data-focus-visible] {
    outline: 2px solid var(--color-primary-5);
  }
}
