.tabs {
  display: flex;
  color: var(--color-black);

  &[data-orientation="horizontal"] {
    flex-direction: column;
  }
}

.tab-list {
  display: flex;

  &[data-orientation="horizontal"] {
    border-bottom: 1px solid var(--color-primary-5);

    .tab {
      border-bottom: 3px solid var(--color-primary-5);
    }
  }
}

.tab {
  position: relative;
  padding: 10px;
  color: var(--color-black);
  cursor: default;
  outline: none;
  transition: color 200ms;
  forced-color-adjust: none;

  &[data-hovered],
  &[data-focused] {
    color: var(--color-primary-5);
  }

  &[data-selected] {
    color: var(--color-primary-5);
  }

  &[data-disabled] {
    color: var(--color-gray-5);
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: 4px;
    content: "";
    border: 2px solid var(--color-primary-5);
    border-radius: 4px;
  }
}

.tab-panel {
  padding: 10px;
  margin-top: 4px;
  border-radius: 4px;
  outline: none;

  &[data-focus-visible] {
    outline: 2px solid var(--color-primary-5);
  }
}
