.switch {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-black);
  cursor: pointer;

  .switch-indicator {
    width: 2rem;
    height: 1rem;
    background: var(--color-white);
    border: 2px solid var(--color-primary-5);
    border-radius: calc(var(--radius-size) * 0.5);
    transition: all 200ms;

    &::before {
      display: block;
      width: 0.9rem;
      height: 0.9rem;
      margin: 0.05rem 0.1rem;
      content: "";
      background: var(--color-primary-5);
      border-radius: calc(var(--radius-size) * 0.5 - 0.1rem);
      transition: all 0.2s;
    }
  }

  &[data-pressed] .switch-indicator {
    border-color: var(--color-primary-6);

    &::before {
      background: var(--color-primary-6);
    }
  }

  &[data-selected] {
    .switch-indicator {
      background: var(--color-primary-5);
      border-color: var(--color-primary-5);

      &::before {
        background: var(--color-white);
        transform: translateX(100%);
      }
    }

    &[data-pressed] {
      .switch-indicator {
        background: var(--color-primary-6);
        border-color: var(--color-primary-6);
      }
    }
  }

  &[data-focus-visible] .switch-indicator {
    outline: 2px solid var(--color-primary-5);
    outline-offset: 2px;
  }

  &[data-disabled] {
    color: var(--color-gray-6);
    pointer-events: none;
    cursor: not-allowed;

    .switch-indicator {
      background: var(--color-gray-1);
      border-color: var(--color-gray-1);

      &::before {
        background: var(--color-gray-6);
      }
    }
  }
}
