.root {
  display: flex;
  align-items: center;
  gap: 0.571rem;
  font-size: 1.143rem;
  color: var(--color-primary);
  forced-color-adjust: none;

  .indicator {
    width: 2rem;
    height: 1.143rem;
    border: 2px solid var(--color-border);
    background: var(--color-primary-bg);
    border-radius: 1.143rem;
    transition: all 200ms;

    &::before {
      content: "";
      display: block;
      margin: 0.143rem;
      width: 0.857rem;
      height: 0.857rem;
      background: var(--color-primary);
      border-radius: 16px;
      transition: all 200ms;
    }
  }

  &[data-pressed] .indicator {
    border-color: var(--color-primary-border);

    &::before {
      background: var(--color-primary);
    }
  }

  &[data-selected] {
    .indicator {
      border-color: var(--color-primary);
      background: var(--color-primary);

      &::before {
        background: var(--color-white);
        transform: translateX(100%);
      }
    }

    &[data-pressed] {
      .indicator {
        border-color: var(--color-primary);
        background: var(--color-primary);
      }
    }
  }

  &[data-focus-visible] .indicator {
    outline: 2px solid var(--color-primary);
    outline-offset: 2px;
  }
}
