.card {
  font-family: var(--font-family);
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-2);
  border-radius: calc(var(--size-radius) * 0.5);
  box-shadow: 0 1px 2px rgb(0 0 0 / 30%);
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
}

.card-title {
  font-size: 1.5rem;
}

.card-description {
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
  color: var(--color-gray-6);
}

.card-content {
  padding: 1rem;
  padding-top: 0;
}

.card-footer {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  padding-top: 0;
}
