.ginga-eyecatch {
  height: 20rem;
  margin-top: 1rem;
  object-fit: cover;
}

.ginga-title {
  margin: 0.5rem;
}

.ginga-author {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 1rem;
  color: var(--color-secondary-9);
}

.ginga-avatar {
  width: 20.5rem;
  height: 20.5rem;
}

.ginga-post-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}