.eyecatch {
  margin-top: 1rem;
  height: 20rem;
  object-fit: cover;
}

.title {
  margin: 0.5rem;
}

.author {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  color: var(--color-secondary-9);
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
}

.post-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}