.anchor {
  position: relative;
  color: var(--color-primary-5);
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &[data-hovered] {
    text-decoration-style: wavy;
  }

  &[data-pressed] {
    color: var(--color-primary-6);
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: -3px -6px;
    content: "";
    border: 2px solid var(--color-primary-5);
    border-radius: 6px;
  }
}
