.anchor {
  position: relative;
  font-family: var(--font-family);
  color: var(--color-primary-6);
  text-decoration: underline;
  cursor: pointer;
  outline: none;

  &[data-hovered] {
    text-decoration-style: wavy;
  }

  &[data-pressed] {
    color: var(--color-primary-7);
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: -0.3rem;
    content: "";
    border: 2px solid var(--color-primary-5);
    border-radius: calc(var(--radius-size) * 0.3);
  }
}
