.anchor {
  position: relative;
  font-size: 18px;
  color: var(--color-link);
  text-decoration: underline;
  cursor: pointer;
  outline: none;
  transition: all 200ms;

  &[data-hovered] {
    text-decoration-style: wavy;
  }

  &[data-pressed] {
    color: var(--color-link-hover);
  }

  &[data-focus-visible]::after {
    position: absolute;
    inset: -3px -6px;
    content: "";
    border: 2px solid var(--color-text);
    border-radius: 6px;
  }
}
