.ginga-root {
  position: sticky;
  top: 1rem;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  margin: 1rem;
  background-color: var(--color-background);
  border: var(--width-border) solid var(--color-primary-9);
  border-radius: var(--size-radius);
}

.ginga-title {
  margin: 0;
}