.checkbox {
  --selected-color: var(--color-primary-5);
  --selected-color-pressed: var(--color-primary-6);
  --checkmark-color: var(--color-white);

  display: flex;
  gap: 0.571rem;
  align-items: center;
  font-size: 1.143rem;
  color: var(--color-black);
  forced-color-adjust: none;

  .checkbox-input {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.143rem;
    height: 1.143rem;
    border: 2px solid var(--color-primary-5);
    border-radius: 4px;
    transition: all 200ms;
  }

  svg {
    width: 1rem;
    height: 1rem;
    fill: none;
    stroke: var(--color-primary-5);
    stroke-dasharray: 22px;
    stroke-dashoffset: 66;
    stroke-width: 3px;
    transition: all 200ms;
  }

  &[data-pressed] .checkbox-input {
    border-color: var(--color-primary-6);
  }

  &[data-focus-visible] .checkbox-input {
    outline: 2px solid var(--color-primary-5);
    outline-offset: 2px;
  }

  &[data-selected],
  &[data-indeterminate] {
    .checkbox-input {
      background: var(--color-primary-5);
      border-color: var(--color-primary-5);
    }

    &[data-pressed] .checkbox-input {
      background: var(--color-primary-6);
      border-color: var(--color-primary-6);
    }

    svg {
      stroke-dashoffset: 44;
    }
  }

  &[data-indeterminate] {
    & svg {
      fill: var(--color-primary-5);
      stroke: none;
    }
  }
}
