.button-group {
  display: inline-flex;
}

.button-group-item {
  position: relative;
  margin: 0 !important;
}

.button-group-item:not([data-position="first"]) {
  margin-left: -1px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.button-group-item:not([data-position="last"]) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* フォーカスされたボタン/ホバーされたボタンが兄弟ボタンの上に表示されるようにする */
.button-group-item:hover,
.button-group-item[data-focus-visible] {
  z-index: 1;
}

.button-group-item[data-pressed] {
  z-index: 2;
}
