.ginga-button {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0;
  font-family: var(--font-family);
  font-size: 1rem;
  color: var(--color-background);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  appearance: none;
  cursor: pointer;
  background-color: var(--color-primary-9);
  border: none;
  border-radius: calc(var(--size-radius) * 0.5);
  outline: none;
  transition: all 0.2s;

  &[data-hovered] {
    background-color: var(--color-primary-8);
  }

  &[data-pressed] {
    background-color: var(--color-primary-7);
  }

  &[data-disabled] {
    color: var(--color-secondary-6);
    pointer-events: none;
    cursor: not-allowed;
    background-color: var(--color-secondary-1);
    border-color: var(--color-secondary-1);
  }

  &[data-focus-visible] {
    outline: 2px solid var(--color-primary-5);
    outline-offset: -1px;
  }

  &[data-variant="light"] {
    color: var(--color-primary-9);
    background-color: var(--color-primary-1);

    &[data-hovered] {
      background-color: var(--color-primary-2);
    }

    &[data-pressed] {
      background-color: var(--color-primary-3);
    }
  }

  &[data-variant="outline"] {
    color: var(--color-primary-9);
    background: var(--color-background);
    border: 1px solid var(--color-primary-9);

    &[data-hovered] {
      background-color: var(--color-primary-1);
    }

    &[data-pressed] {
      background-color: var(--color-primary-2);
    }
  }

  &[data-variant="reverse"] {
    color: var(--color-primary-9);
    background-color: var(--color-background);

    &[data-hovered] {
      background-color: var(--color-primary-0);
    }

    &[data-pressed] {
      background-color: var(--color-primary-1);
    }
  }
}

.ginga-button-group {
  display: inline-flex;
}

.ginga-button-group-item {
  position: relative;
  margin: 0 !important;
}

.ginga-button-group-item:not([data-position="first"]) {
  margin-left: -1px !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.ginga-button-group-item:not([data-position="last"]) {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

/* フォーカスされたボタン/ホバーされたボタンが兄弟ボタンの上に表示されるようにする */
.ginga-button-group-item:hover,
.ginga-button-group-item[data-focus-visible] {
  z-index: 1;
}

.ginga-button-group-item[data-pressed] {
  z-index: 2;
}
