.installSection {
  margin-top: 3rem;
}

.exampleSection {
  margin-top: 3rem;
}

.examplePreview {
  padding: 2rem;
  margin-top: 1rem;
  background-color: var(--color-primary-0);
  border: 1px solid var(--color-primary-2);
  border-radius: var(--size-radius);
}
