.accordion {
  width: 100%;
}

.accordion-item {
  margin-bottom: 0.25rem;
  border: 2px solid var(--color-primary-2);
  border-radius: calc(var(--radius-size) * 0.5);
}

.accordion-trigger {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  color: var(--color-primary-9);
  text-align: left;
  cursor: pointer;
  background: none;
  border: none;
}

.accordion-trigger:hover {
  background-color: var(--color-primary-0);
  border-radius: calc(var(--radius-size) * 0.5);
}

.accordion-icon {
  position: relative;
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
  transition: transform 0.2s ease;
}

.accordion-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0.5rem;
  height: 0.5rem;
  content: "";
  border-right: 2px solid currentcolor;
  border-bottom: 2px solid currentcolor;
  transition: transform 0.2s ease;
}

.accordion-content {
  padding: 0 1rem;
  overflow: hidden;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.accordion-content-expanded {
  height: auto;
  padding: 1rem;
}

.accordion-content-collapsed {
  height: 0;
}
