.slider {
  display: grid;
  grid-template-areas:
    "label output"
    "track track";
  grid-template-columns: 1fr auto;
  max-width: 300px;
  color: var(--color-primary);

  .slider-label {
    grid-area: label;
  }

  .slider-output {
    grid-area: output;
  }

  .slider-track {
    position: relative;
    grid-area: track;

    &::before {
      position: absolute;
      display: block;
      content: "";
      background: var(--color-primary-bg);
    }
  }

  .slider-thumb {
    width: 1.429rem;
    height: 1.429rem;
    background: var(--color-primary);
    border: 2px solid var(--color-primary-bg);
    border-radius: 50%;
    forced-color-adjust: none;

    &[data-dragging] {
      background: var(--color-primary-border);
    }

    &[data-focus-visible] {
      outline: 2px solid var(--color-primary);
    }
  }

  &[data-orientation="horizontal"] {
    flex-direction: column;
    width: 300px;

    .slider-track {
      width: 100%;
      height: 30px;

      &::before {
        top: 50%;
        width: 100%;
        height: 3px;
        transform: translateY(-50%);
      }
    }

    .slider-thumb {
      top: 50%;
    }
  }
}
